.container__profile-page {
  min-height: 100svh;
  max-width: 700px;
  margin-inline: auto;
}

.profile__container {
  display: flex;
  margin-top: 0px;
  padding-inline: 15px;

  .profile__display-picture {
    width: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0 2px 8px #c7c7c7;
    cursor: pointer;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .profile__left-container {
    flex: 2.5;
  }

  .profile__right-container {
    flex: 5.5;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .profile__user {
        .profile__user-name {
          font-size: 1.125rem;
          font-weight: 500;
        }
        .profile__user-username {
          font-size: 0.625rem;
          color: var(--ashblack);
        }
      }

      .profile__edit-btn-container {
        button {
          background-color: var(--offwhite);
          padding: 2px 12px;
          font-size: 0.625rem;
          border-radius: 3px;
          border: 0.5px solid var(--ashblack);
          cursor: pointer;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: row;
      margin-top: 15px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-size: 0.938rem;
        }

        span {
          font-size: 0.625rem;
        }

        &:not(:nth-child(3)) {
          margin-right: 2.25rem;
        }
      }
    }
  }
}

/* margin-top: 1.875rem; */
.posts__navigation {
  padding-inline: var(--inline-margin);
  margin-bottom: 10px;
  .posts__nav-item {
    padding-bottom: 2px;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--muted);
    border: none;
    background-color: transparent;
  }

  .posts__nav-item:nth-child(1) {
    margin-right: 12px;
  }

  .posts__nav-item.active {
    font-weight: 600;
    color: var(--foreground);
    border-bottom: 1px solid var(--foreground);
  }
}

.posts__recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding-inline: var(--inline-margin);

  div {
    margin: 0;
    padding: 0;
    cursor: pointer;
    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

.nav__logo {
  font-family: "Krona One";
  color: var(--primary);
  letter-spacing: -2px;
}
