@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Outfit:wght@100..900&display=swap");

:root {
  --primary: #f04134;
  --offwhite: #ebeff2;
  --ashblack: #4d4d4d;
  --text: #000;
  --white: #f4f4f4;
  --semi-white: #fdfdfd;
  --accept: #63d18f;
  --placeholder: #aaa;

  --max-width: 480px;
  --min-width: 365px;

  --background: #ebeff2;
  --foreground: #050620;
  --section-container: #fdfdfd;
  --input-field-container: #ffffff;
  --input-field-border: #a6a9b3;
  --box-bg: #fdfdfd;
  --muted: #a6a9b3;
  --accent: #ff4a1c;
  --secondary: #febc2e;
  --tertiary: #758bfd;
  --warning: #e04255;
  --main-primary: #050620;
  --dialog-btn-bg: #dfdfdf;
  --button-primary: #050620;
  --button-secondary: #a6a9b3;
  --button-muted: #d9d9d9;
  --button-file: #ff4a1c;
  --rounded-sm: 3px;
  --rounded-md: 5px;
  --rounded-lg: 10px;
  --rounded-xl: 16px;
  --inline-margin: 15px;
  --shadow-color: #b5b6b9;
  --button-shadow: 0 2px 2.5px -1.6px var(--shadow-color);

  font-family: "Outfit", system-ui, Helvetica, sans-serif;
  line-height: 1.15;
  font-weight: 400;

  color-scheme: light;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ::-ms-reveal {
  filter: invert(100%);
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--text);
}

*:focus {
  outline: 1.2px solid var(--accent);
}

/* WebKit browsers */
::-webkit-input-placeholder {
  color: var(--muted);
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  color: var(--muted);
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color: var(--muted);
}
/* Internet Explorer 10+ */
::-ms-input-placeholder {
  color: var(--muted);
}
input::placeholder,
textarea::placeholder {
  color: var(--muted);
}

body {
  background-color: var(--offwhite);
  font-family: "Krona One";

  -ms-overflow-style: none m !important; /* IE and Edge */
  scrollbar-width: none m !important;
}

input {
  font-family: "Outfit", sans-serif;
  color: var(--text);
}

a {
  text-decoration: none;
}

button,
input,
textarea,
a,
span,
select,
option {
  font-family: "Outfit", sans-serif;
  color: var(--foreground);
}

div,
section,
section p,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  color: var(--foreground);
}

.h1 {
  font-size: clamp(2.875rem, 2.655vw + 1.3rem, 4rem);
}
.h2 {
  font-size: clamp(1.688rem, 1.655vw + 1.3rem, 2.438rem);
}
.h3 {
  font-size: clamp(1.25rem, 1.655vw + 1.3rem, 2.063rem);
}
.h4 {
  font-size: 1.728rem;
}
.h5 {
  font-size: 1.44rem;
}
.h6 {
  font-size: 1.2rem;
}
.small {
  font-size: 0.833rem;
}

.logo {
  color: var(--primary);
  font-size: 5.8rem;
}

.sr-only {
  display: none;
}

.rt-ScrollAreaScrollbar {
  display: none !important;
}

/* .data__spinner {
  width: 100%;
} */

.radix-themes {
  --default-font-family: "Outfit", sans-serif;

  /* --orange-9: var(--accent);
  --yellow-9: var(--secondary);
  --sky-12: var(--background); */

  --primary: #f04134;
  --offwhite: #ebeff2;
  --ashblack: #4d4d4d;
  --text: #000;
  --white: #f4f4f4;
  --accept: #63d18f;
  --placeholder: #aaa;

  --max-width: 480px;
  --min-width: 365px;

  --background: #ebeff2;
  --foreground: #050620;
  --section-container: #fdfdfd;
  --input-field-container: #ebebeb;
  --input-field-border: #a6a9b3;
  --box-bg: #fdfdfd;
  --muted: #a6a9b3;
  --accent: #ff4a1c;
  --secondary: #febc2e;
  --tertiary: #758bfd;
  --warning: #e04255;
  --button-primary: #050620;
  --button-secondary: #a6a9b3;
  --button-muted: #d9d9d9;
  --button-file: #ff4a1c;
  --rounded-sm: 3px;
  --rounded-md: 5px;
  --rounded-lg: 10px;
  --rounded-xl: 16px;
  --inline-margin: 15px;
  --shadow-color: #b5b6b9;
  --button-shadow: 0 2px 2.5px -1.6px var(--shadow-color);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

@media (prefers-color-scheme: light) {
  .radix-themes {
    --primary: #f04134;
    --offwhite: #ebeff2;
    --ashblack: #4d4d4d;
    --text: #050620;
    --white: #f4f4f4;
    --semi-white: #fdfdfd;
    --accept: #63d18f;
    --placeholder: #aaa;

    --max-width: 480px;
    --min-width: 365px;

    --background: #ebeff2;
    --foreground: #050620;
    --section-container: #fdfdfd;
    --input-field-container: #f1f1f1;
    --input-field-border: #a6a9b3;
    --box-bg: #fdfdfd;
    --muted: #a6a9b3;
    --accent: #ff4a1c;
    --secondary: #febc2e;
    --tertiary: #758bfd;
    --warning: #e04255;
    --main-primary: #050620;
    --dialog-btn-bg: #dfdfdf;
    --button-primary: #050620;
    --button-secondary: #a6a9b3;
    --button-muted: #d9d9d9;
    --button-file: #ff4a1c;
    --rounded-sm: 3px;
    --rounded-md: 5px;
    --rounded-lg: 10px;
    --rounded-xl: 16px;
    --inline-margin: 15px;
    --shadow-color: #b5b6b9;
    --button-shadow: 0 2px 2.5px -1.6px var(--shadow-color);
  }
}

.theme-dark {
  --background: #010110;
  --foreground: #ebeff2;
  --section-container: #11103a;
  --input-field-container: #070713;
  --input-field-border: #413c58;
  --box-bg: #11103a;
  --tertiary: #758bfd;
  --warning: #e04255;
  --button-muted: #838389;
  --button-primary: var(--accent);
  --button-secondary: #413c58;
  --dialog-btn-bg: #dfdfdf;
  --shadow-color: #11103ade;

  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  .radix-themes {
    --background: #010110;
    --foreground: #ebeff2;
    --section-container: #11103a;
    --input-field-container: #070713;
    --input-field-border: #413c58;
    --box-bg: #11103a;
    --tertiary: #758bfd;
    --warning: #e04255;
    --button-muted: #838389;
    --button-primary: var(--accent);
    --button-secondary: #413c58;
    --dialog-btn-bg: #dfdfdf;
    --shadow-color: #11103ade;

    color-scheme: dark;
  }
}
