@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Outfit:wght@100..900&display=swap");

:root {
  --primary: #f04134;
  --offwhite: #f6ede1;
  --ashblack: #4d4d4d;
  --text: #000;
  --white: #fff;
  --accept: #63d18f;
  --placeholder: #aaa;

  --desktop-screen: 900px;

  --background: #ebeff2;
  --foreground: #050620;
  --muted: #a6a9b3;
  --accent: #ff4a1c;
  --secondary: #febc2e;
  --tertiary: #758bfd;
  --warning: #e04255;
  --button-primary: #050620;
  --button-secondary: #a6a9b3;
  --button-muted: #d9d9d9;
  --button-file: #ff4a1c;
  --rounded-sm: 3px;
  --rounded-md: 5px;
  --rounded-lg: 10px;

  font-family: "Outfit", system-ui, Helvetica, sans-serif;
  line-height: 1.15;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-ms-reveal {
  filter: invert(100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--text);
}

/* WebKit browsers */
::-webkit-input-placeholder {
  color: transparent;
}
/* Mozilla Firefox 4 to 18 */
/* :-moz-placeholder {
  color: transparent;
} */
/* Mozilla Firefox 19+ */
/* ::-moz-placeholder {
  color: transparent;
} */
/* Internet Explorer 10+ */
/* :-ms-input-placeholder {
  color: transparent;
} */
/* input::placeholder {
  color: transparent;
} */

body {
  background-color: var(--offwhite);
  font-family: "Krona One";
}

input {
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}

button,
input,
textarea,
a,
select,
option {
  font-family: "Outfit", sans-serif;
}

.h1 {
  font-size: clamp(2.875rem, 2.655vw + 1.3rem, 4rem);
}
.h2 {
  font-size: clamp(1.688rem, 1.655vw + 1.3rem, 2.438rem);
}
.h3 {
  font-size: clamp(1.25rem, 1.655vw + 1.3rem, 2.063rem);
}
.h4 {
  font-size: 1.728rem;
}
.h5 {
  font-size: 1.44rem;
}
.h6 {
  font-size: 1.2rem;
}
.small {
  font-size: 0.833rem;
}

.logo {
  color: var(--primary);
  font-size: 5.8rem;
}

.sr-only {
  display: none;
}

.radix-themes {
  --default-font-family: "Outfit", sans-serif;
  --heading-font-family: "Krona One", sans-serif;

  --orange-9: var(--accent);
  --yellow-9: var(--secondary);
  --sky-12: var(--background);

  --background: #ebeff2;
  --foreground: #050620;
  --muted: #a6a9b3;
  --accent: #ff4a1c;
  --secondary: #febc2e;
  --tertiary: #758bfd;
  --warning: #e04255;
  --button-foreground: #ebeff2;
  --button-primary: #050620;
  --button-secondary: #a6a9b3;
  --button-muted: #d9d9d9;
  --button-file: #ff4a1c;
  --rounded-sm: 3px;
  --rounded-md: 5px;
  --rounded-lg: 10px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
