.edit__form-container {
  margin-top: 20px;
  padding-inline: var(--inline-margin);
}

.edit__section {
  background-color: var(--section-container);
  padding: 15px 12px;
  border-radius: var(--rounded-md);
  margin-bottom: 15px;
}

.rt-TextAreaRoot {
  border: 1.5px solid var(--input-field-border) !important;
}

.dialog-trigger:has(button:focus) {
  outline: 1.5px solid var(--white);
}

.allergy-select__container {
  width: 100%;
  margin-top: 8px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 8px 8px;
  border-radius: var(--rounded-sm);
  background-color: var(--input-field-container);
  box-shadow: var(--button-shadow);
  cursor: pointer;

  svg path {
    color: var(--foreground);
  }
}

.allergy__text {
  max-width: 250px;
  height: 22px;
  padding-inline: 2px 5px;
  color: var(--foreground);
}

#dialog-btn {
  width: 100%;
  text-align: left;
  outline: none;
  border: none;
  background-color: transparent;
}

#dialog-btn:focus .dialog-trigger {
  outline: 1.5px solid var(--white);
}

.darkmode-switch[data-state="unchecked"]::before {
  transform-origin: left;
  transition: 150ms;
  border: 1px solid var(--button-muted);
  border-radius: 30px !important;
  overflow: hidden;
}

.darkmode-switch[data-state="checked"] {
  border: unset;
  background-color: var(--tertiary);
  border-radius: 20px;
}

.logout-btn {
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  color: var(--warning);
}

/* } */

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
