.recipeprofile__card {
  /* height: 150px !important; */
  aspect-ratio: 3.8 / 4.5;
  padding: 4px 7px !important;
  border-radius: var(--rouded-md) !important;
  box-shadow: 0 -40px 40px #252525cf inset;
  overflow: hidden;
}

.recipeprofile__card:focus {
  outline: 3px solid var(--accent);
}

.recipeprofile__content {
  background-position: center !important;
  background-size: cover !important;
  /* background-repeat: no-repeat !important; */
  border-radius: var(--rounded-md) !important;
}

.recipeprofile__time {
  opacity: 0.9;
  color: var(--white);
  font-size: 0.85rem;
  text-align: right;
}
.recipeprofile__recipe-name {
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.05;
  padding-bottom: 3px;
}
